<!DOCTYPE html>
<html>
<head>
<title></title>
<link href="stylesheets/bootstrap.min.css" rel="stylesheet">
<!--<link href="stylesheets/menu-partida.css" rel="stylesheet">--> 
<link href='/stylesheets/submenu.css' rel='stylesheet'>
<script type="text/javascript" src="javascripts/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
<script src="https://unpkg.com/blip-chat-web" type="text/javascript"></script>
<script>
    (function () {
        window.onload = function () {
            new BlipWebSDK.ChatBuilder()
                .withApiKey('6315ad3e-22ed-4949-a6d5-0f93434e2b88')
                .build();
        }
    })();
</script>
<script src="/socket.io/socket.io.js"></script>
 <script>
   $(document).ready(function() {
    var client = io();
       
       $('.flag').hide();

       if('<%= mensagem %>' != '') {
        var msg = '<%= mensagem %>';  
        alert(msg);
       }

       $('#cursos').find('option').each(function() {
          if($('#curso').val() == $(this).text()){
        	$(this).prop('disabled', false);
          }
       }); 

       if($('#cursos').val() == 'Livre') {
      	$('#modulos').find('option').each(function() {
      		$(this).prop('disabled', true);
      	}); 
       } 

     $('#cursos').click(function() {
          if($('#cursos').val() == 'Livre') {
         	$('#modulos').find('option').each(function() {
         		$(this).prop('disabled', true);
         	}); 
         } else {
           $('#cursos').find('option').each(function() {
             if($('#curso').val() == $(this).text()){
           $('#modulos').find('option').each(function() {
                  if($(this).text() != $('#modulo').val()){
                   $(this).prop('disabled', true);
                  } else {
                  	$(this).prop('disabled', false);
                  }
           	});
             }
          });            
         }
     });


     $('#tabela').on('click','#btEntrar', function() {
        
        var id_partida_clicada = $(this).next().val();  
          client.emit('verificar_se_jogador_esta_em_alguma_partida', id_partida_clicada); 
          $('#tabela').find('tr').each(function(index) {
            if(index > 0) {
               $(this).find('#btEntrar').prop('disabled', true); 
            }
         });
     });

     client.on('retorno_estou_numa_partida', function(data) {
           if(data.flag == true) {
              alert('Você já está participando de uma partida!');
           } else {

              if(data.curso == 'Livre' || 
                 ('<%- curso %>' == data.curso && '<%- modulo %>' == data.modulo)) {
                client.emit('entrar_na_sala', data); 
              } else {
                alert('Curso e/ou módulo não permitidos');

                $('#tabela').find('tr').each(function(index) {
                 if(index > 0) {
                  $(this).find('#btEntrar').prop('disabled', false); 
                 }
                });

              }
           }
     });

     client.on('qtde_jogadores_atual', function(data) {
        $('#tabela').find('tr').each(function(index) {
           if(index > 0) {
              var id_partida = $(this).children().attr('id');
              if(id_partida == data.id_partida && data.meu_id == '<%- id_usuario %>') {
                $(this).find('#btEntrar').prop('disabled', true);
                $(this).find('.qtde').text(data.qtde_atual_de_jogadores);
              } 
           }
        });
     }); 


     client.on('retorno_entrar_sala', function(data) {
           $('#tabela').find('tr').each(function(index) {
             if(index > 0) {
              $(this).find('#btEntrar').prop('disabled', true); 
             }
           });
     });
     

     client.on('iniciar_jogo', function(data) {
           $('#tabela').find('tr').each(function(index) {
             if(index > 0) {
              $(this).find('#btEntrar').prop('disabled', false); 
             }
           });
             $('#tabela').find('tr').each(function() {
               $(this).find('td').each(function() {
                 if(data.id_partida == $(this).attr('id')) {
                   $(this).next().next().children().click();
                 }
               });
             });
     });
     

     

   });	
 </script>

</head>
<body>
<% include ../barraMenu %>
<div class="container">
<input type="hidden" id="curso" value="<%= curso %>">
<input type="hidden" id="modulo" value="<%= modulo %>">
<div>
   <legend>Iniciar nova partida</legend>
	<fieldset>
	 <form action="/criar_partida" method="POST" class="navbar-form navbar-left" role="search">
	   <div class="form-group"> 
	      <label>Capacidade da sala</label>
	      <input type="number" min="2" max="30" class="form-control" name="partida[capacidade]" 
	      style="width:60px;">&nbsp;&nbsp;&nbsp;
     </div>
     <div class="form-group">
      <label>Nº de rodadas</label>
      <select class="form-control" name="partida[num_rodadas]" style="width:60px;">
       <option>1</option>
       <option>2</option>
       <option>3</option>
       <option>4</option>
       <option>5</option>
       <option>6</option>
      </select>
      </div>&nbsp;&nbsp;&nbsp;
	   <div class="form-group">
		 <label>Curso</label>
		  <select class="form-control" name="partida[curso]" style="width:235px;"
		           id="cursos">
		   <option disabled="true">Análise de Sistemas</option>
		   <option disabled="true">Licenciatura em Matemática</option>
		   <option disabled="true">Processos Gerenciais</option>
		   <option disabled="true">Técnico em Edificações</option>
		   <option disabled="true">Técnico em informática (Web)</option>
		   <option>Livre</option>
		  </select>
	   </div>&nbsp;&nbsp;&nbsp;
	     <div class="form-group">
	   	 <label>Módulo</label>
	   	  <select class="form-control" name="partida[modulo]" style="width:60px;"
	   	          id="modulos">
	   	   <option disabled="true">1</option>
	   	   <option disabled="true">2</option>
	   	   <option disabled="true">3</option>
	   	   <option disabled="true">4</option>
	   	   <option disabled="true">5</option>
	   	   <option disabled="true">6</option>
	   	  </select>
	      </div><br>
	   <div class="form-group">      
		 <button type="submit" id="bt_cadastrarSala" class="btn btn-default" style="margin-left: 800px;
		 position: absolute; margin-top: -38px;">Criar nova sala</button><br><br>
	   </div>
	 </form>
	</fieldset>
</div>
<br><br><br>
<div id="menu-partidas-rodando">  
   <legend>Partidas</legend>
    <table id="tabela" class="table table-striped table-hover">
    <thead>
      <tr>
         <th>Nº</th>
         <th>Curso</th>
         <th>Modulo</th>
         <th>Status</th>
         <th>Nº de rodadas</th>
         <th>Jogadores</th>
         <th>Cap. da Sala</th>
         <th>Iniciar jogo</th>
         <th style="display: none;">Iniciar jogo</th>
      </tr>
  
    </thead>
    <tbody>
       <% if(partidas !== null) {  
          partidas.forEach(function(partida, index) { %> 
        <tr>
         <form id="<%- partida._id %>">
          <td><%- (index + 1) %></td>
          <td><%- partida.tipo_sala.curso %></td>
          <td><%- partida.tipo_sala.modulo %></td>
          <td><%- partida.status %></td>
          <td><%- partida.num_rodadas %></td>
          <td class="qtde" value="<%= partida.num_jogadores %>"><%- partida.num_jogadores %></td>
          <td class="capacidade" value="<%= partida.tipo_sala.capacidadeSala %>"><%- partida.tipo_sala.capacidadeSala %></td>
          <td><button id="btEntrar" class="btn btn-success" style="width: 80px">Jogar</button>
              <input type="hidden" name="params[idPartida]" value="<%- partida._id %>">
              <input type="hidden" name="params[tipoCurso]" value="<%- partida.tipo_sala.curso %>">
              <input type="hidden" name="params[modulo]" value="<%- partida.tipo_sala.modulo %>"> 
          </td>
         </form>
         <td id="<%- partida._id %>" style="display: none;">
             <button type="button" class="btn btn-success"  disabled="true" id="linkJogar" style="position: absolute; margin-left: 0px;">Jogar</button>
               <input type="hidden" name="idPartida" value="<%- partida._id %>">
         </td>
         <form id="ui" action="/iniciar_partida" method="POST">
           <td class='flag'>
             <button type="submit" id="ok"></button>
             <input type="hidden" name="idPartida_ok" value="<%- partida._id %>">
           </td>
         </form>
        </tr>
        <% }) 
        } %>
    </tbody>
   </table>
  </div>
 </div>
</body>
</html>
